/*
* @Author: msi
* @Date:   2017-10-18 23:00:14
* @Last Modified by:   msi
* @Last Modified time: 2017-10-20 10:09:42
*/
@import url('base.css');
.slider{
	width: 100%;
	height: 600px;
	position: relative;
}
.rslides{
	position: relative;
	width: 100%;
	height: auto;
}
.rslides li{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li img{
	display: block;
	width: 100%;
	height: 100%;
}
.caption{
	width: 660px;
	height: 80px;
	padding: 20px ;
	background: orange;
	opacity: 0.8;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	color: white;
}
.caption h1{
	font-size: 55px;
	text-align: center;
}
.slider #slider3{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	height: 100px;
	
	/* bottom: 30px; */

}
#slider3 li{
	cursor: pointer;
	float: left;
	border: 3px solid #000;
	padding: 3px;
	margin-right: 10px;
}
#slider3 li:first-child{
	border: 3px solid #fff;
}
#slider3 li img{
	display: block;
	width: 100%;
	height: 100%;
}
.dao{
	width: 100%;
	height: 108px;
	background: #372f2c;
	padding: 6px 0;
	display: flex;
	align-items: center;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.daonav{
	width: 1140px;
	height: 80px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navz{
	font-size: 40px;
	line-height: 80px;
	color: #fff;
}
.navy{
	display: flex;
	justify-content: space-between;
	width: 500px;
}
.navy li a{
	font-size: 16px;
	color: #fff;
}
.navy li a:hover{
	color: #f9bD00;
	border-bottom: 1px solid #000;
}

.dabox1{
	width: 100%;
	height: 950px;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.dabox1 h3{
	width: 100%; 
   	font-size: 30px;
   	text-align: center;
  	color: #f9bd00;
  	font-family: 'RacingSansOne-Regular';
  	text-transform: capitalize;
  	padding-bottom: 40px;
}
.tukuang{
	width: 1140px;
	height: 866px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tukuang>li{
	width: 366px;
	height: 275px;
	cursor: pointer;
}
.tukuang>li img{
	display: block;
	width: 100%;
	height: 100%;
}
.zhe{
 	width: 406px;
	height: 315px;
	border: 20px solid skyblue;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -203px;
	margin-top: -158px;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, .8);
	transform: scale(0, 0);
	transition: .5s;
}
.zhe img{
	display: block;
	height:100%;
	width: 100%;
}
.active{
	transform: scale(1, 1);
}
.guan{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	right: -500px;
	top: -230px;
	font-size: 30px;
	color: black;
	text-align: center;
	line-height: 40px;
	font-weight: 100;
	cursor: pointer;
	overflow: hidden;
}
.left,.right{
	font-size: 60px;
	color: #fff;
	position: absolute;
	margin-top: -30px;
	cursor: pointer;
}
.left{
	left: -350px;
	top: 50%;
}
.right{
	right: -350px;
	top: 50%;
}




.end{
	width: 100%;
	height: 310px;
	padding: 40px 0;
  	background: #eee;
  	box-sizing: border-box;
  	display: flex;
  	justify-content: space-around;
}
.end h3 {
  	font-size: 30px;
  	color: #f9bd00;
  	font-family: 'RacingSansOne-Regular';
    text-transform: capitalize;
  	margin-bottom: 15px;
}
.xk li {
  list-style: none;
}
.xk1 p {
	width: 255px;
	height: 100px;
  	font-size: 15px;
  	line-height: 28px;
  	color: #999;
}
.xk ul li{
 list-style-type: none;
   padding: 5px 0;
}
.xk ul li  a{
  font-size: 1em;
  text-decoration: none;
  line-height: 24px;
  color: #999;
    list-style: none;
	padding: 6px 24px;
  background: url('../img/list-arrow.png') no-repeat 0px 10px;
}
.xk ul li a:hover {
  color:#f9bd00;
}

.box1{
	width: 100%;
	height: 1320px;
	padding: 50px 0;
	display: flex;
	justify-content: center;
}
.box2{
	width: 1140px;
	height: 100%;
}
.box2 h3 {
	width: 100%; 
	font-size: 30px;
  	color: #f9bd00;
  	font-family: 'RacingSansOne-Regular';
  	text-transform: capitalize;
  	text-align: center;
    margin-bottom: 10px;
}
.jieshao{
	margin-top: 40px;
	width: 100%;
	height: 1230px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jieshao li{
	width: 100%;
	height: 392px;
	/* background: red; */
	display: flex;
	justify-content: space-around;
}
.zizi h4 {
  font-size: 18px;
  color: #372f2c;
  margin: 0 0 6px;
  text-align: left;
  font-family: 'RacingSansOne-Regular';
 }
.zizi p {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  text-align: left;
 }
 .xiaoj{
 	padding: 0 15px;
 	box-sizing: border-box;
 }
 .xiaoj h4 {
  font-size: 18px;
  color: #372f2c;
  margin: 4px 0 4px;
  text-align: center;
  font-family: 'RacingSansOne-Regular';

}
.xiaoj p {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  text-align: center;
}
.instr1 {
  border-bottom: 1px solid #f9bD00;
  padding:10px 0;
}